<footer>
    <div class="footer-section">
        <div class="footer-navbar">
            <ul class="nav-items-footer">
                <li class="nav-item nav-item-footer">
                    <a href="javascript:void(0)" class="nav-link-footer" data-box="services">Services</a>
                </li>
                <li class="nav-item nav-item-footer">
                    <a href="javascript:void(0)" class="nav-link-footer" data-box="about">About</a>
                </li>
                <li class="nav-item nav-item-footer">
                    <a href="javascript:void(0)" class="nav-link-footer" data-box="contact">Contact</a>
                </li>
                <li class="nav-item nav-item-footer">
                    <a href="javascript:void(0)" class="nav-link-footer" data-box="start">Get Started</a>
                </li>
            </ul>
            <p class="footer-desc">© 2024 Vorily. All rights reserved.</p>
        </div>
    </div>
</footer>
