@font-face {
    font-family: 'Manrope';
    src: url('Manrope.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo Black';
    src: url('ArchivoBlack-Regular.ttf') format('truetype');
}
