.product-details-container {
  display: grid;
  gap: 40px;
  padding: 12px 40px 40px;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

.product-main {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-info {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-gallery {
  grid-column: 1;
  grid-row: 1 / span 3;
  position: sticky;
  top: 20px;
  align-self: start;
}

.product-image {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.product-title {
  font-size: 32px;
  font-weight: bold;
}

.label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.product-labels {
  display: flex;
  flex-wrap: wrap;

  .new-label {
    background-color: #00a859;
    color: white;
  }

  .top-label {
    background-color: #ff3b30;
    color: white;
  }
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.product-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  .product-text-info {
    background-color: #ffeff2;
    color: red;
    border-radius: 12px;
    padding: 12px;
  }
}

.add-to-cart-btn {
  background-color: #000;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #333;
}

.description-content {
  line-height: 1.6;
  transition: max-height 0.3s ease;
}

.toggle-description-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: underline;
}

.toggle-description-btn:focus {
  outline: none;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumb ul {
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 1200px;
  list-style: none;
  margin: 1rem auto 0;
  padding-right: 40px;
}

.breadcrumb ul li {
  display: inline;
}

.breadcrumb ul li a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.breadcrumb ul li a:hover {
  color: #0056b3;
}

.breadcrumb ul li::after {
  content: "/";
  margin: 0 5px;
  color: #6c757d;
}

.breadcrumb ul li:last-child::after {
  content: "";
  margin: 0;
}

.breadcrumb ul li:last-child {
  font-weight: bold;
  color: #6c757d;
}

@media (max-width: 768px) {
  .product-details-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .product-main {
    grid-column: 1;
    grid-row: 1;
  }

  .product-gallery {
    grid-column: 1;
    grid-row: 2;
  }

  .product-info {
    grid-column: 1;
    grid-row: 3;
  }
}
