@import 'categories.scss';
@import 'details.scss';
@import '../pagination.scss';

.index-products-container {
  display: flex;
  gap: 1rem;
  padding-top: 12px;
  align-items: flex-start;

  h2 {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    font-weight: 800;
  }
}

.product-categories-section {
  width: calc(20vw - .5rem);
  flex-shrink: 0;
  position: fixed;
}

@media only screen and (width <= 1200px) {
  .product-categories-section {
    width: 100%;
    position: unset;
  }

  .index-products-container {
    flex-direction: column;
  }
}

.products-section {
  width: 75vw;
  margin-left: calc(20vw + .5rem);

  .products-box {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: start;
    justify-content: start;

    a.btn-product {
      display: flex;
      flex-direction: column;
      background-color: $background-color-pink-light;
      border: none;
      gap: 1rem;
      width: 100%;

      .product-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 100%;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .product-title {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        font-weight: bold;
        font-size: 1rem;

        i.fas.fa-chevron-right {
          margin-left: 0.5rem;
          font-size: 1rem;
          color: #666;
        }
      }
    }
  }
}

@media only screen and (width <= 1200px) {
  .product-categories-section {
    width: 100%;
  }

  .products-section {
    width: 100%;
    margin-left: 0;
  }

  .index-products-container {
    flex-direction: column;
  }
}

