//MAIN STYLES
$background-color-primary: #F7FCF7;
$text-color-primary: #0D1C0D;
$text-color-secondary: #4F964F;
$button-color-primary: #1AE51A;
$button-color-secondary: #E8F2E8;
$shadow-color-primary: #0D1C0D47;

//ADMIN PANEL
$sidebar-width: 300px;
