@import 'navbar.scss';
@import 'welcome.scss';
@import '_variables.scss';
@import 'services.scss';
@import 'aboutus.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'flash.scss';
@import '../fonts/fonts';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monrope, 'sans-serif';

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10%;
    }

    @media only screen and (width < 1000px) {
        .main-container {
            margin: 0 5%;
        }
    }
}

