@import '_variables.scss';

.alert {
  position: fixed;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: $button-color-secondary;
  color: white;
  padding: 1rem 2.5rem 1rem 1rem;
  max-width: 300px;
  margin-bottom: 1rem;
  border-radius: .25rem;
  box-shadow: 5px 5px 10px 0 $shadow-color-primary;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    animation: shrink 20s linear forwards;
  }
}

.alert-success {
  background-color: green;
  border-color: green;
}

.alert-error {
  background-color: red;
  border-color: red;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 2;
  padding: 0.75rem 1rem;
  color: white;
  font-weight: 700;
  background: none;
  border: none;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  transition: ease-in-out .1s;

  &:hover {
    opacity: .7;
  }
}

.alert.fade {
  opacity: 0;
}

.alert.show {
  opacity: 1;
}

@keyframes shrink {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}
