@import '_variables.scss';

#page-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color-primary;
    padding: 10px 20px;
    height: 65px;
    color: black;
    border-bottom: 1px solid $shadow-color-primary;

    .logo .link-logo {
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        color: $text-color-primary;
    }

    .navigation {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;

        @media only screen and (max-width: 1000px) {
            gap: 0;
            display: none;
            position: absolute;
            top: 65px;
            left: 0;
            width: 100%;
            background-color: $background-color-primary;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            border-bottom: 1px solid $shadow-color-primary;
            z-index: 99;

            &.active {
                display: flex;
            }

            .dropdown {
                width: 100%;

               .link-btn, .dropdown-btn {
                   display: block;
                    width: 100%;
                    padding: 10px 20px;
                    text-align: center;
                }

                .dropdown-btn:after {
                    display: none;
                }

                .dropdown-content {
                    width: 100%;
                }
            }

            .link-btn, .dropdown-btn {
                width: 100%;
                padding: 10px 20px;
                text-align: center;
            }

            .dropdown-content {
                display: block;
                position: relative;
                left: auto;
                top: auto;
                width: 100%;
                background-color: transparent;
                box-shadow: none;
                padding: 0;
                border: none;

                .column {
                    width: 100%;
                }
            }
        }
    }

    .dropdown-content.active {
        display: flex;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        left: 0;
        top: 125%;
        background-color: $background-color-primary;
        gap: 1rem;
        width: 100%;
        border-bottom: 1px solid $shadow-color-primary;
        padding: 0 0 12px 12px ;
        z-index: 98;
    }

    .dropdown-content .column {
        display: flex;
        flex-direction: column;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        font-size: 14px;
    }

    .dropdown-content a:hover {
        background-color: $button-color-secondary;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
    }

    .link-btn, .dropdown-btn {
        color: $text-color-primary;
        text-decoration: none;
        padding: 12px 16px;

        &:hover {
            border-radius: 12px;
            background-color: $button-color-secondary;
        }
    }

    .link-btn.active {
        border-radius: 12px;
        background-color: $button-color-secondary;
    }

    .dropdown-btn {
        cursor: pointer;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 32px;
            top: 100%;
            left: 0;
        }
    }

    .mobile-menu-btn {
        display: none;
        cursor: pointer;

        @media only screen and (max-width: 1000px) {
            display: block;
        }

        span {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color: $text-color-primary;
            transition: all 0.3s ease-in-out;
        }

        &.active span:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        &.active span:nth-child(2) {
            opacity: 0;
        }

        &.active span:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }

    .search-btn {
        display: flex;
        align-items: center;
    }

    .search-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $button-color-secondary;
        height: 40px;
        padding: 0 10px;
        border-radius: 12px;
        position: relative;

        button {
            background: none;
            border: none;

            img {
                left: 50%;
                cursor: pointer;
            }
        }
    }

    .search-input {
        background: transparent;
        border-radius: 12px;
        border: none;
        outline: none;
        padding-left: 10px;
    }

    .search-btn.active img {
        left: 0;
        position: absolute;
        background-color: $button-color-secondary;
        padding: 10px;
        border-radius: 12px;
    }

    .nav-lang {
        button {
            border: none;
            background: none;
            padding: 12px;
            border-radius: 12px;
            text-align: center;
            cursor: pointer;
        }

        .flag-dropdown.active {
            display: flex;
        }

        .flag-dropdown {
            position: absolute;
            display: none;
            gap: 0.5rem;
            padding: 1rem;
            background-color: $background-color-primary;
            flex-direction: column;
            list-style: none;
            min-width: 120px;
            top: 85%;
            z-index: 98;

            a {
                width: 100%;
                text-decoration: none;
                color: $text-color-primary;

                &:hover {
                    background-color: $button-color-secondary;
                    border-radius: 12px;
                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .nav-lang, .search-btn {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 10px 0;

            button {
                width: 100%;
                text-align: center;
            }

            .flag-dropdown {
                position: static;
                width: 100%;
                padding: 0;

                a {
                    padding: 10px 20px;
                    text-align: center;
                }
            }
        }

        .mobile-menu-btn {
            display: block;
            cursor: pointer;
        }

        .dropdown-content {
            display: none !important;
        }
    }
}
