@import '_variables.scss';

.service-section {
    width: 100%;
    margin-top: 20px;
}

.service-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.offer-box {
    width: 150px;
    border: solid 1px $primary-border-color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Manrope, serif;
}

.offer-title {
    font-weight: 700;
}

.offer-desc {
    word-wrap: break-word;
    margin-top: 15px;
}

.offer-icon {
    padding: 15px 0;
    width: 24px;
    height: 24px;
}

h2 {
    margin-right: auto;
    font-family: Manrope, serif;
}

@media only screen and (width < 700px) {
    .service-container {
        flex-direction: column;
        gap: 1rem;
    }

    .offer-box {
        width: 100%;
    }
}
